<o-form-layout-manager attr="AdoptionApplication" mode="tab" title="ADOPTIONAPPLICATION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="AdoptionApplicationTable" 
            service="AdoptionApplication" 
            entity="AdoptionApplication" 
            title="ADOPTIONAPPLICATION"
            keys="id"
            columns="applicant_name;turtle_id;application_date;id" 
            header-actions="R;D"
            visible-columns="applicant_name;turtle_id;application_date;id"  
            sort-columns="applicant_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #applicant_name attr="applicant_name" title=" applicant_name*" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="turtle_id" title="turtle_id">
    <o-table-cell-renderer-service attr="turtle_id" 
        service="Turtle" entity="TurtleType" columns="id;name"
        parent-keys="id:turtle_id"
        value-column="name" keys="turtle_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #application_date attr="application_date" type="timestamp" label="application_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>