<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="id" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="FeedingSchedule_form_edit" 
        service="FeedingSchedule" 
        entity="FeedingSchedule" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-list-picker 
        attr="turtle_id"
        service="Turtle" 
        entity="TurtleType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;turtle_id;name" 
        title="turtle_id"
        visible-columns="id;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-date-input #feed_time attr="feed_time" type="timestamp" label="feed_time" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #food_type attr="food_type" label="food_type" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>